<!DOCTYPE HTML>
<html>
	<head>
		<title>Li Chong</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="不忘初心，方得始终。" />
		<meta name="keywords" content="李冲, LiChong, ROTK, LichKing, Lich King" />
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/skel.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-wide.css" />
			<link rel="stylesheet" href="/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

		<meta property="og:title" content="李冲" />
    	<meta property="og:site_name" content="LichKing" />
    	<meta property="og:type" content="website" />
    	<meta property="og:description" content="我希望，食不果腹衣不蔽体的人，每天都能吃上饱饭穿暖衣服；四处流浪无家可归的人，每晚都能遮风避雨，睡上温暖的被窝。做一块拼图，补全这个世界的善良。不忘初心，方得始终。" />
    	<meta property="og:url" content="http://www.lichking.space/" />
    	<meta property="og:image" content="http://www.lichking.space/images/show/top.jpg" />
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Li Chong</h1>
						<p>The &nbsp;&bull;&nbsp; Return &nbsp;&bull;&nbsp; Of &nbsp;&bull;&nbsp; The &nbsp;&bull;&nbsp; King</p>
						<div class="desc">
							<p class="sm-p">我希望</p>
							<p class="sm-p">食不果腹衣不蔽体的人</p>
							<p class="sm-p">每天都能吃上饱饭穿暖衣服</p>
							<p class="sm-p">四处流浪无家可归的人</p>
							<p class="sm-p">每晚都能遮风避雨</p>
							<p class="sm-p">睡上温暖的被窝</p>
							<p class="sm-p">做一块拼图补全这个世界的善良</p>
							<p class="sm-p">不忘初心</p>
							<p class="sm-p">方得始终</p>
						</div>
						<nav>
							<ul>
								<li>
									<a target="_blank" href="http://weibo.com/527890710" class="fa fa-weibo"><span>Weibo</span></a>
								</li>
								<li>
									<a target="_blank" href="https://github.com/MiracleLee" class="fa fa-github"><span>Github</span></a>
								</li>
								<li>
									<a target="_blank" href="#" class="fa fa-envelope-o"><span>Email</span></a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Li Chong. 2015. China.</span>
					</footer>
				
			</div>
		</div>
	</body>
</html>